.main-content {
    -fx-background-color: #272b2b;
}

.side-menu {
    -fx-background-color: #151818;
    -fx-padding: 10;
}

.user-profile {
    -fx-padding: 10;
}

.user-profile .user-name {
    -fx-font-size: 16px;
    -fx-font-family: "Arial Black", sans-serif;
    -fx-text-fill: #c7c6c6;
}

.user-profile ImageView {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}

.separator {
    -fx-padding: 10;
}

.menu-button {
    -fx-text-fill: #c7c6c6;
    -fx-background-color: #151818;
    -fx-background-radius: 5;
    -fx-border-width: 0 0 0 0;
    -fx-pref-width: 180;
    -fx-max-width: 180;
    -fx-pref-height: 35;
    -fx-max-height: 35;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 5;
    -fx-font-size: 16px;
    -fx-font-family: "Arial Black", sans-serif;
}

.menu-button:hover {
    -fx-background-color: #d8b3ff;
    -fx-text-fill: #151818;
    -fx-cursor: hand;
}

.text {
    -fx-text-fill: #c7c6c6;
}

.error-message {
    -fx-max-width: 400px;
    -fx-font-size: 14px;
    -fx-font-family: Arial, sans-serif;
    -fx-text-fill: #f74a4a;
}

.container {
    -fx-padding: 20;
}

.search-bar {
    -fx-background-color: #151818;
    -fx-background-radius: 5px;
    -fx-font-family: Arial, sans-serif;
    -fx-text-fill: #c7c6c6;
    -fx-prompt-text-fill: a9a9a9;
    -fx-padding: 10 88 10 30;
    -fx-font-size: 16px;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
}

.search-bar:focused {
    -fx-border-color: #d8b3ff;
}

.search-icon {
    -fx-padding: 0 0 0 10;
    -fx-font-size: 16;
    -fx-text-fill: #c7c6c6;
}

.search-button {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-font-family: "Arial Black", sans-serif;
    -fx-text-fill: #c7c6c6;
    -fx-font-size: 16px;
    -fx-border-color: #c7c6c6;
    -fx-padding: 8 10;
    -fx-border-radius: 5px;
}

.search-button:hover {
    -fx-background-color: #d8b3ff;
    -fx-border-color: #d8b3ff;
    -fx-text-fill: #151818;
    -fx-cursor: hand;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: #272b2b;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.book-container {
    -fx-padding: 10 10;
    -fx-background-color: #151818;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: transparent;
}

.book-container:hover {
    -fx-border-color: #d8b3ff;
}

.book-title, .book-text {
    -fx-text-fill: #c7c6c6;
    -fx-font-family: Arial, sans-serif;
}

.book-title {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.book-text {
    -fx-font-size: 12;
}

.add-button {
    -fx-background-color: #d8b3ff;
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-background-radius: 50%;
}

.add-button:hover {
    -fx-background-color: #e6cfff;
    -fx-cursor: hand;
}

.delete-button {
    -fx-background-color: #ff6969;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.delete-button:hover {
    -fx-background-color: #ff0000;
    -fx-cursor: hand;
}

.read-button-unread {
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-border-color: #d8b3ff;
    -fx-border-radius: 50%;
    -fx-text-fill: #d8b3ff;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.read-button-read {
    -fx-background-color: #d8b3ff;
    -fx-background-radius: 50%;
    -fx-border-color: #d8b3ff;
    -fx-border-radius: 50%;
    -fx-text-fill: #272b2b;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.read-button-unread:hover {
    -fx-cursor: hand;
    -fx-background-color: #d8b3ff;
    -fx-text-fill: #272b2b;
}

.read-button-read:hover {
    -fx-cursor: hand;
}

.snackbar {
    -fx-background-color: #323232;
    -fx-text-fill: #c7c6c6;
    -fx-font-size: 12;
    -fx-font-family: "Arial Black", sans-serif;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-opacity: 0;
}